<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lh.zksockets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/zks_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:restoreAnyVersion="true"
        android:roundIcon="@mipmap/zks_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zksockets"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.MbanActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ui.XinfengEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.PowerEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.WangguanEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.YinpinEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.PcEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.DoorEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.KongtiaoEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.LuboEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.DengguangActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.DiannaoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ChuanglianActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.TyjEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.DoorSetingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.BaseSetingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.AdvancedSetingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.XiangDaoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ComputerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ICcardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.UsersActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.PowerDeviceActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ZhongKongActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.IOsetActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.EventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.OnekeyEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.EventSelectActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.VolumeSetActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.EnvironmentalActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.LampActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SerialportActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.IOsetingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SplashActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.LauncherActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:screenOrientation="nosensor"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyMqttService" />
    </application>

</manifest>